extends ../layout.jade
block content
    .container#class-manager
        .err=msg
        section#add_form
            form#addClassForm(action='/addClass', method='post', autocomplete="on")
                h3 Add Class
                .form-group
                    label(for='location') Location
                    input#location.form-control(name='location', required)
                .form-group
                    label(for='datetime') Date/Time
                    input#datetime.form-control(name='datetime', required)
                .form-group
                    label(for='classSize') Class Size
                    input#classSize.form-control(name='classSize', required)
                .form-group
                    label(for='fee') Fee
                    input#fee.form-control(name='fee', required)
                .form-group
                    label(for='address') Address
                    input#address.form-control(name='address', required)
                .row
                    button#add-course-btn.btn.btn-blue(type='submit', onclick='addClass()') Add

        section#class_table
            h3 Classes
            table#table.table.table-hover.dt-responsive.nowrap(style='width: 100%')
                thead
                    tr
                        th Location
                        th Date/Time
                        th Class Size
                        th Fee
                        th Address
                        th Remove
                tbody
                    each claz, index in classes || []
                        tr(class=(i % 2 == 0) ? 'odd' : 'even')
                            td #{claz.location}
                            td #{claz.datetime}
                            td #{claz.classSize}
                            td #{claz.fee}
                            td #{claz.address}
                            td
                                button.btn.btn-small.btn-blue(onclick='removeClass(' + claz.code + ')')  Remove


block script
    style.
        #table thead tr th {
            text-align: left;

        }
        #class-manager {
            margin-top: 150px;
        }

        .btn {
            margin-top: 5px;
        }

        #table {
            margin-bottom: 150px;
        }

        #class_table {
            margin-top: 50px;
        }
    script.
        function removeClass(code) {
            $.post('/removeClass', {
                code: code
            }, function (res, err) {
                location.reload();
            })
        }
