extends ../layout.jade
block content
    section#classes.cart-page.section-padding
        .container
            .row
                .col-xs-12.col-md-6.col-text-center
                    .section-title.about-title.text-center
                        h3 Manage Students
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .section-title.text-center
                h3
                    span ALL
                    |  CLASSES
            .row
                .col-xs-12
                    .table-responsive.table-one.margin-minus.section-padding-bottom
                        table.spacing-table.text-center
                            thead
                                tr
                                    th Location
                                    th Date/Time
                                    th Class Size
                                    th Fee
                                    th Address
                                    th Students
                                    th Email
                            tbody
                                each claz, index in classes || []
                                    tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                        td #{claz.location}
                                        td #{claz.datetime}
                                        td #{claz.registed || 0} / #{claz.classSize}
                                        td $ #{claz.fee}
                                        td #{claz.address}
                                        td
                                            button.btn.btn-small.btn-blue(onclick='viewStudent(' + claz.code + ')')  View
                                        td
                                            button.btn.btn-small.btn-blue(onclick='displayEmailPopup(' + claz.code + ')')  Email

    section#students.cart-page.section-padding
        .container
            .section-title.text-center
                h3
                    span STUDENTS
            .row
                .col-xs-12
                    .table-responsive.table-one.margin-minus.section-padding-bottom
                        table#studentsTable.spacing-table.text-center
                            thead
                                tr
                                    th First Name
                                    th Last Name
                                    th Email
                                    th Phone
                                    th Note
                                    th Remove
                            tbody
    section.cart-page.section-padding
        #emailModal.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-body
                        .modalErr
                        form#register_form(action='/email_students', method='post')
                            .input-text
                                input#classCode(type='text', name='classCode', style='display:none')
                            label Subject:
                            .input-text
                                input#subject(type='text', name='subject', required)
                            label Message:
                            .input-text
                                textarea#message(type='html', name='message', rows="4", cols="50")
                            .submit-text
                                input#submitButton(type='button', class='btn btn-small btn-blue', value='Send', onclick="sendEmails()")


    section.cart-page.section-padding
        #notePopup.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-body
                        form
                            .input-text
                                input#studentCode(type='text', name='studentCode', style='display:none')
                            label Note:
                            .input-text
                                textarea#noteArea(type='text', name='note', rows="4", cols="50")
                            .input-text
                                .submit-text
                                    input(type='button', value='Update', class='btn btn-small btn-blue', onclick="saveNote()")

block script
    style.
        #classes {
            margin-top: 150px;
        }

    script.
        var savedClassCode = '';
        function viewStudent(classCode) {
            $('html, body').animate({
                scrollTop: $("#students").offset().top
            }, 1000);
            savedClassCode = classCode;
            $.post('/get_students', {classCode: classCode}, function (res, err) {
                var students = res.students;
                $('#studentsTable').find('tbody').empty();
                $.each(students, function (index, student) {
                    $('#studentsTable').find('tbody')
                        .append($('<tr>')
                            .append($('<td>').css('display', 'none')
                                .append(student.code)
                            )
                            .append($('<td>')
                                .append(student.first_name)
                            )
                            .append($('<td>')
                                .append(student.last_name)
                            )
                            .append($('<td>')
                                .append(student.email)
                            )
                            .append($('<td>')
                                .append(student.phone)
                            )
                            .append($('<td>')
                                .append("<button class='btn btn-small btn-blue', onclick='showNotePopup(" +  student.code + ")'>  Note </button>")
                            )
                            .append($('<td>')
                                .append("<button class='btn btn-small btn-blue', onclick='removeStudent(" + student.code + ")'> Remove </button>")
                            )
                        )
                });
            })
        }

        function removeStudent(studentCode) {
            $.post('/removeStudent', {classCode: savedClassCode, studentCode: studentCode}, function (err, res) {
                location.reload();
            });
        }

        function showNotePopup(studentCode) {
            $.post('get_user', {code: studentCode}, function (res, err) {
                $('#notePopup').modal("show");
                $('#noteArea').text(res.user.note);
                $('#studentCode').val(res.user.code);
            })
        }

        function saveNote() {
            var note = $('#noteArea').val();
            var studentCode = $('#studentCode').val();
            $.post('save_note', {studentCode: studentCode, note: note}, function (res, err) {
                $.alert({
                    title: "INFO",
                    content: "Saved"
                })
                $('#notePopup').modal("hide");
                location.reload();
            });
        }

        function displayEmailPopup(clazCode) {
            $("#emailModal").modal("show");
            $("#classCode").val(clazCode);
        }

        function sendEmails() {
            var subject = $("#subject").val();
            var clazCode = $("#classCode").val();
            var message = $("#message").val();
            if (subject && message) {
                $("#emailModal").modal("hide");
                $.post('email_students', {classCode: clazCode, subject: subject, message: message}, function (res, ee) {
                    $.alert({
                        title: "INFO",
                        content: "Sent"
                    })
                })
            } else {
                $(".modalErr").text("Please put in subject and message");
            }

        }
