
extends layout.jade
block content
    section#account.account-page.section-padding
        .container
            .row
                .col-xs-12.col-md-6.col-text-center
                    .section-title.about-title.text-center
                        h3 My Account
                        .shape
                            img(src='/public/img/icon/t-shape.png', alt='Title Shape')
            .row
                .col-sm-12
                    .single-input.p-bottom50.clearfix
                        form#register_form(action='/update_user', method='post')
                            .row
                                .col-sm-4
                                    label First Name:
                                    .input-text
                                        input#first_name(type='text', name='first_name', required, value=user.first_name || "")
                                .col-sm-4
                                    label Middle Name:
                                    .input-text
                                        input#middle_name(type='text', name='middle_name', value=user.middle_name || "")
                                .col-sm-4
                                    label Last Name:
                                    .input-text
                                        input#last_name(type='text', name='last_name', required, value=user.last_name || "")
                            .row
                                .col-sm-6
                                    label Email:
                                    .input-text
                                        input#email(type='email', name='email', required, value=user.email || "")
                                .col-sm-6
                                    label Phone:
                                    .input-text
                                        input#phone(type='text', name='phone', value=user.phone || "")
                                .col-sm-6
                                    label Street:
                                    .input-text
                                        input#street(type='text', name='street', value=user.street || "")
                                .col-sm-6
                                    label Zip code:
                                    .input-text
                                        input#zip(type='number', name='zip', value=user.zip || "")
                                .col-sm-6
                                    label Originator NMLS Number:
                                    .input-text
                                        input#nmls(type='text', name='LOLicenseNumber', value=user.LONumber || "")
                                .col-sm-6
                                    label Real Estate License Number:
                                    .input-text
                                        input#RELicenseNumber(type='text', name='RELicenseNumber', value=user.RENumber || "")
                                .col-xs-12
                                    .billing-checkbox
                                        input#subscribe.checkbox(type='checkbox', name='subscribe', value=user.subscribe || "")
                                        label Subscribe to our newsletters
                                    .submit-text
                                        input#submitButton(type='submit', value='Update')
                                    p
                                        | After updating, we will log you out. Please log back in
    block script
        style.
            #account {
                margin-top: 150px;
            }

