extends layout.jade
block links
block content
        header#intro
            .container
                .table
                    .header-text
                        .row
                            .col-md-12.text-center
                                h1.white.typed Loan Originating classes from the best broker in town.
                                span.typed-cursor |
        section
            .cut.cut-top
            .container
                .row.intro-tables
                    .col-md-6
                        .intro-table.intro-table-first
                            h5.white.heading Today's Classes
                            .owl-carousel.owl-schedule.bottom
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 8:30 AM - 10:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 10:30 AM - 12:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Seattle
                                        .col-xs-6.text-right
                                            h5.white 1:30 PM - 3:00 PM
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 8:30 AM - 10:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 10:30 AM - 12:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Seattle
                                        .col-xs-6.text-right
                                            h5.white 1:30 PM - 3:00 PM
                                .item
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 8:30 AM - 10:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white San Jose
                                        .col-xs-6.text-right
                                            h5.white 10:30 AM - 12:00 AM
                                    .schedule-row.row
                                        .col-xs-6
                                            h5.regular.white Seattle
                                        .col-xs-6.text-right
                                            h5.white 1:30 PM - 3:00 PM
                    .col-md-6
                        .intro-table.intro-table-third
                            h5.white.heading Happy Clients
                            .owl-testimonials.bottom
                                .item
                                    h4.white.heading.content I couldn't be more happy with the results!
                                    h5.white.heading.light.author Adam Jordan
                                .item
                                    h4.white.heading.content I can't believe how much more I know!
                                    h5.white.heading.light.author Greg Pardon
                                .item
                                    h4.white.heading.content Incredible transformation and I feel so eager to practice my new skills!
                                    h5.white.heading.light.author Christina Goldman
        section#services.section
            .container
                h3 Classes
                table#table.table.table-hover.dt-responsive.nowrap(style='width: 100%')
                    thead
                        tr
                            th Location
                            th Date/Time
                            th Class Size
                            th Fee
                            th Address
                            th Register
                    tbody
                        each claz, index in classes || {}
                            tr(class=(i % 2 == 0) ? 'odd' : 'even')
                                td #{claz.location}
                                td #{claz.dateTime}
                                td #{claz.registed} / #{claz.classSize}
                                td #{claz.fee}
                                td #{claz.address}
                                td
                                    button.btn.btn-small.btn-blue(onclick='register(' + claz.code + ')')  Register

        section#team.section.gray-bg
            .container
                .row.title.text-center
                    h2.margin-top Your Instructor
                    h4.light.muted One of the top broker in the country
                .row
                    .col-md-4
                    .col-md-4
                        .team.text-center
                            .cover(style="background:url('/public/img/team/team-cover3.jpg'); background-size:cover;")
                                .overlay.text-center
                                    h3.white
                            img.avatar(src='/public/img/team/team0.jpg', alt='Team Image')
                            .title
                                h4 Thuan Nguyen
                                h5.muted.regular  Broker, CEO
                            a.btn.btn-blue-fill.ripple(href='#', data-toggle='modal', data-target='#modal1') Contact Him
                    .col-md-4

        block script

